dist/
public/
.vscode/
coverage/
shelljs_*
styles/css/
src/**/*.js
spec/**/*.js
demos/**/*.js
demos/**/*.css
!demos/**/icons.css
test-report/
node_modules/
src/**/*.d.ts
spec/**/*.d.ts
styles/**/*.css
styles/**/*.scss
!styles/**/_*.scss
styles/